.pragmatic2_logo{
    background-color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
}

.pragmatic2_footer_button{
    font-size:.9rem;
}

.pragmatic2_footer{
    text-align: center;
    margin-top:2rem;
}

.pragmatic2_header{
    text-align: center;
    margin:2rem 0;
}

@media screen and (max-width: 500px) {
    html {
        font-size: 13px;
    }
}

a {
    color:black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration;
}

.pragmatic2_header_nav {
    margin: 0rem 0.5rem;
}

.pragmatic2_header_navbar {
    margin: 1rem 0;
}